.details-background img{
    background-size: cover;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    z-index: -1;
    
}

.details-content{
    /* border: 2px solid white; */
    padding: 20px 40px;

}

.details-content .details-first-section{
    width: 500px;
    margin-top: 20px;
    /* border: 1px solid white; */
    height: 400px;

}
.details-first-section img{
    width: 100%;

}
.details-second-section{
    display: flex;
    /* margin: 20px 0 0 60px ; */

}
.details-second-section button{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    background:whitesmoke;
    cursor: pointer;
}
.details-second-section button:nth-child(2){
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background:rgba(0,0,0,0.6);
    margin-left: 20px;
    cursor: pointer;
}

.details-second-section button:nth-child(3){
    border: 2px solid white;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.details-third-section {
    margin:20px  0 ;

}
.details-third-section .sub-title{
    font-weight: bold;
    color: white;
    word-spacing: 2px;
}

.details-third-section .description{
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px){
    .details-background img{
        background-size: cover;
        /* background-size: cover; */
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        opacity: 0.8;
        /* position: fixed; */
        z-index: -1;
        overflow: hidden;
        
    }
    
    .details-content{
        /* border: 2px solid white; */
        padding: 20px 40px;
    
    }
    
    .details-content .details-first-section{
        width: 250px;
        margin-top: 20px;
    
    }
    .details-second-section{
        display: flex;
        /* margin: 20px 0 0 60px ; */
        margin-top: 30px;
    
    }
    .details-second-section button:nth-child(1){
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        color: black;
        padding: 5px 15px;
        border-radius: 5px;
        background:whitesmoke;
        margin-top: 20px;
    }
    .details-second-section button:nth-child(2){
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        background:rgba(0,0,0,0.6);
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .details-second-section button:nth-child(3){
        border: 2px solid white;
        border-radius: 50%;
        background: rgba(0,0,0,0.7);
        margin-left: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    .details-third-section {
        margin:20px  0 ;
    
    }
    .details-third-section .sub-title{
        font-weight: bold;
        color: white;
        word-spacing: 2px;
        font-size: 15px;
    }
    
    .details-third-section .description{
        font-weight: 300;
        font-size: 15px;
        margin-top: 20px;
    }
    
}