.recommended{
    margin:40px 0;
    /* border: 2px solid white; */
    width: 100%;
    padding: 20px;
    
}
.recommended-head{
    text-transform: uppercase;
    margin: 10px 5px;
    font-weight: bold;
}

.recommended-contents{
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(4,minmax(0,1fr));
    /* grid-template-columns: repeat(2,minmax(0,1fr)); */
}

.recommended-content{
    box-shadow: 11px 13px 42px 6px rgba(0,0,0,0.75);
    border-radius: 20px;
    transition: all 0.4s ease-in-out;

}
.recommended-content:hover{
    transform: scale(1.05);
    border: 2px solid white;

}
.recommended-content img{
    width: 100%;
    border-radius: 20px;
}
