.channels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
    margin-top: 20px;

}

.channel{
    width: 220px;
    height: 130px;
    box-shadow: 11px 13px 42px 6px rgba(0,0,0,0.75);
    margin: 20px;
    border: 1px solid rgb(166, 152, 152);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease-in-out;


}
.channel:hover{
    transform: scale(1.1);
}
.channel video{
    position: absolute;
    bottom: 125px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.channel:hover video {
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Adjust the box-shadow on hover */
}

.channels .channel img{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;

}

@media only screen and (max-width: 600px)
{
    .channels{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* border: 1px solid white; */
        margin-top: 20px;
    
    }
    
    .channel{
        width: 260px;
        height: 150px;
        box-shadow: 11px 13px 42px 6px rgba(0,0,0,0.75);
        margin: 20px;
        border: 1px solid rgb(166, 152, 152);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.4s ease-in-out;

    
    }
    .channel:hover{
        transform: scale(1.1);
    }
    .channel video {
        position: absolute;
        bottom: 125px;
        border-radius: 5px;
        height: 100%;
        width: 420px;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding a box-shadow for the effect */
    }
    
    .channel:hover video {
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Adjust the box-shadow on hover */
    }
    
    .channels .channel img{
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
    
    }
}